#header {
  background: url(../img/21-Columbia-Blue.jpg) no-repeat;
  background-size: cover;
  height: 70rem;
  text-align: center;
  color: #000; }
  #header article {
    width: 60%;
    margin: 0 auto; }
  #header h1 {
    margin: 1rem auto; }

.main-nav {
  display: flex;
  margin-top: 2rem; }
  .main-nav li {
    list-style: none; }
  .main-nav li:first-child {
    margin-right: auto;
    padding: 1rem 0; }
    .main-nav li:first-child li {
      padding: 0; }
  .main-nav a {
    display: block;
    color: #fff;
    border-radius: 4px;
    padding: 1.5rem 3rem;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  background: #fff;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

section {
  display: -webkit-box; }

.wrapper {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto; }

h1 {
  font-size: 3rem;
  text-transform: uppercase; }
