.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .5;
    overflow: hidden;

    // -webkit-filter: blur(5px);
    // -moz-filter: blur(5px);
    // -o-filter: blur(5px);
    // -ms-filter: blur(5px);
    // filter: blur(5px) brightness(70%);
    @include respond(phone500) {
        height: 150%;
    }

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}