#header {
    background-image: linear-gradient(to top, $dark-gray-2 80%, #000);
    background-size: cover;
    height: 75rem;
    text-align: center;
    color: #fff;
    overflow: hidden;

    article {
        width: 60%;
        margin: 0 auto;
        
    }

    h1 {
        margin: 5rem auto 2rem auto;
        font-weight: 900;
        
    }

    p {
        line-height: 1.8rem;
        padding-bottom: 2rem;
        border-bottom: 2px solid $goldish;
    }

    .header-img {
        background-image: linear-gradient(155deg, 
            rgba($dark-gray-1, .5) 0%,
            rgba($dark-gray-1, .5) 50%,
            transparent 50%),
            url(../img/watch-gold.jpeg);
        background-size: cover;
        
        border-radius: 2rem;
        box-shadow: 0 1.5rem 4rem rgba(#000, .2);

        margin-top: 1rem;
        width: 100%;
        height: 40vh;
        max-width: 110rem;
    }
}

.main-nav {
    display: flex; 
    margin-top: 2rem;

    li {
        list-style: none;
    }

    li:first-child {
        margin-right: auto;
    }
    
    a {
        display: block;
        color: #fff;
        border-radius: 4px;
        padding: 1.5rem 3rem;
        text-decoration: none;
        font-weight: 800;
        text-transform: uppercase;
        
    }

    .download {
        background: $goldish;
    }
}