h1 {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    transition: all 200ms;
    text-shadow: 0 0 20px $goldish;

    &:hover {
        text-shadow: 0 0 30px rgb(0, 255, 255);
        transform: scale(1.05);
    }
}

h2 {
    font-size: 2.4rem;
    color: $goldish;
}

p {
    color: $para-0;
}