// COLORS:
$dark-gray-2: #1b2022;
$dark-gray-1: #a4b5bd;
$dark-gray-0: #8fa0a5;
$goldish: #ecae30;
$para-0: #e0e0e0;

// FONTS:

//sans-serif
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;